@keyframes easeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.45;
  }

  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.question-title {
  font-size: 14px !important;
  font-weight: 500;
  margin-bottom: 20px;
}
